body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(135deg, #337bff, #43e9ff); */
}
.login-wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.login-wrapper {
  display: flex;
  height: 100vh;
}
.left-side, .login-right {
  flex: 1; /* each takes 50% */
}
.left-side {
    flex: 3; /* 50% width */
    position: relative;
    overflow: hidden;
}

.login-img {
  width: 900px;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 900px; height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.login-right {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background: #f76d37;
}

.form {
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 30px;
}

.form h3 {
    color: #ffffff;
    background-color: #ffffff00;
    border: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #ffffffc1;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}
.back-btn{
    height: 40px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.456);
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-top: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.back-btn a{
    text-decoration: none;
    color: #333;
    justify-content: center;
    text-align: center;
    transition: background 0.3s;
}
.back-btn:hover{
    background-color: white;

}
.back-btn a i{
    padding-right: 8px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  color: #2d79f3;
  text-decoration: none;
}
.rem-for{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.rem-for a{
  color: white;
  text-decoration: none;
}
.btn-submit {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #000000;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #ffffffb3;
}

.social-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social {
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s;
}

.social.google {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: black;
}

.social.github {
  background-color: #333;
}

.social:hover {
  opacity: 0.9;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.signup-link a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
}

.signup-link a:hover {
    font-weight: bolder;
}


.back-button {
  display: inline-block;
  background-color: #2575fc;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #1a5ed0;
}