{% extends "core/base.html" %}
{% load static %}
{% block title%} Home {% endblock title%}
{% block content %}


<!-- banner section start -->
<div class="banner_section layout_padding">
   <div class="container">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="row">
                  <div class="col-sm-6">

                  </div>
                  <div class="col-sm-6">
                     <div class="banner_title">
                        <h1 class="outstanding_text">
                           <img src="{% static 'images/Bbbite.png' %}" alt="Momos Logo"
                              style="height: 80px; border-radius: 10px;">
                        </h1>

                        <h1 class="coffee_text" style="color: white;">The Best <br> Momo Restaurant</h1>
                        <p class="there_text">
                           We at <b style="color: #f76d37;">BITE</b> are passionate about bringing you the authentic
                           taste of Nepal
                           through our momos. Made with fresh, high-quality ingredients and following traditional
                           recipes,
                           our momos are bursting with flavor and sure to tantalize your taste buds. Whether you're a
                           momo
                           aficionado or a curious newcomer, we offer a warm and welcoming atmosphere where you can
                           savor
                           this delicious Nepalese dish.
                           Come experience the magic of momos and embark on a culinary journey to Nepal!
                        </p>
                        <div class="learnmore_bt"><a href="#services">LEARN MORE</a></div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
         <!-- <div class="sliders-bottom">
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
            </a>
         </div> -->

      </div>
   </div>
</div>
<!-- banner section end -->
<!-- about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="row-md-2">
               <div class="about_taital_main">
                  <div class="about_taital">Why Customer Love Us?</div>
                  <p class="about_text">We serve up authentic momos bursting with flavor, made with
                     fresh ingredients and traditional recipes. We offer a warm and welcoming atmosphere,
                     perfect for enjoying a delicious and satisfying meal. Whether you're a momo
                     connoisseur or just discovering their magic, we're sure you'll love our taste of Nepal.</p>
                  <div class="read_bt" style="margin-bottom: 25px;"><a href="{% url 'services' %}">READ MORE</a></div>


               </div>
            </div>

            <div class="row-md-4 about_img">
               <img src="{% static 'images/top-momo.jpg' %}">
            </div>


         </div>
         <div class="col-md-1">
         </div>
         <div class="col-md-5">
            <div class="about_img1"><img src="{% static 'images/eating.jpg'%}"></div>
         </div>
      </div>
   </div>
</div>


<!-- services section start -->
<div class="services_section layout_padding" id="services">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="services_taital" style="color: white;"> Our Services</h1>
            <p class="services_text">KNOWING OUR CUSTOMER NEEDS. We're more then just momos. We're a full-services dining experience!</p>
            <!-- <p class="services_text">We're more then just momos</p>
            <p class="services_text">We're a full-services dining experience!</p> -->
         </div>
      </div>
      <div class="services_section_2">
         <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-4">
               <div class="box_main active">
                  <div class="house_icon">
                     <img src="{% static 'images/high-quality.png' %}" style="width: 80px; height: auto;" class="image_1">
                     <!-- <img src="{% static 'images/quality2.png' %}" class="image_2"> -->
                  </div>
                  <h3 class="decorate_text">Quality Food</h3>
                  <p class="tation_text">
                     We believe in using only the highest quality ingredients to create momos that are bursting with
                     flavor.
                     Our fillings are prepared daily with fresh, vegetables and succulent meats.

                  </p>
                  <div class="readmore_bt"><a href="">Read More</a></div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4">
               <div class="box_main">
                  <div class="house_icon">
                     <img src="{% static 'images/party.png'%}" style="width: 80px; height: auto;" class="image_1">
                     <!-- <img src="{% static 'images/party2.png'%}" class="image_2"> -->
                  </div>
                  <h3 class="decorate_text">Private Party</h3>
                  <p class="tation_text">
                     Pair your momos with our selection of dipping sauces and chutneys for an unforgettable
                     get-together.
                     Let us help you create a fun and flavorful feast for your next celebration!
                  </p>
                  <div class="readmore_bt"><a href="">Read More</a></div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4">
               <div class="box_main">
                  <div class="house_icon">
                     <img src="{% static 'images/food-cover.png'%}" style="width: 80px; height: auto;" class="image_1">
                     <!-- <img src="{% static 'images/catering2.png'%}" class="image_2"> -->
                  </div>
                  <h3 class="decorate_text">Catering</h3>
                  <p class="tation_text">
                     Make your next gathering unforgettable with our momo catering service!
                     We offer a variety of catering packages to suit any event size and budget as per need.
                  </p>
                  <div class="readmore_bt"><a href="">Read More</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- services section end -->

<!-- gallery section start -->
<div class="card text-center tab-titles-class" id="full">
   <h1>Top Items</h1>
   <h3 style="margin-bottom: 30px;">Here's our top items for today:</h3>
   <div class="menu-container">
      <ul class="tab-titles text-center">
  {% for i in category %}
  <li class="tab-links menu-title {% if current_category == i.id %}active{% endif %}">
    <a href="?category={{ i.id }}#full">{{ i.title }}</a>
  </li>
  {% endfor %}
</ul>
   </div>

   <div class="tab-content active-tab">
      <div class="container">
         <div class="row">
            {% for i in momo %}
            <div class="col-md-4 menu-item">
               <div class="menucard">
               <div class="row-md-4">
                  <p>
                     <img src="{{i.image.url}}">
                  </p>


               </div>
               <div class="row-md-1">
                  <span>{{i.name}}</span>
               </div>
                  <div class="card-cart">
                  <div class="card-price">Rs. {{i.price}}</div>
                  <button class="add-to-cart-btn">
                    <i class="fa-solid fa-cart-shopping" style="padding-right: 8px;"></i>Add to Cart
                  </button>
               </div>
            </div>
</div>
               {% endfor %}
            </div>
      </div>
   </div>
</div>
</div>


</div>
<!-- gallery section end -->

<!-- testimonial section start -->
<!-- testimonial section start -->
<div class="client_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="client_taital">TESTIMONIALS</h1>
        <p class="client_text">Here's what our customers have to say about us:</p>
      </div>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <!-- Carousel inner -->
    <div class="carousel-inner">

      <!-- Testimonial 1 -->
      <div class="carousel-item active">
        <div class="container">
          <div class="testimonial-card mx-auto">
            <img src="{% static 'images/test1.jpg'%}"
              alt="James Albert" class="testimonial-img">
            <h4 class="client_name_text">James Albert</h4>
            <p class="customer_text">
              Just discovered this place and I'm obsessed! The atmosphere is so warm and inviting, perfect for a casual
              lunch with friends. We tried a bunch of momos to share - veggie, chicken, and pork - and honestly,
              couldn't pick a favorite. Each one was bursting with flavor and cooked to perfection. Definitely coming
              back to work my way through the whole menu!
            </p>
          </div>
        </div>
      </div>

      <!-- Testimonial 2 -->
      <div class="carousel-item">
        <div class="container">
          <div class="testimonial-card mx-auto">
            <img src="{% static 'images/test2.jpg'%}"
              alt="Taylor Rock" class="testimonial-img">
            <h4 class="client_name_text">Taylor Rock</h4>
            <p class="customer_text">
              Momos have always been a favorite comfort food, but yours are on another level! The fillings are so fresh
              and flavorful, and the dough is perfectly cooked - light and chewy at the same time. I can never decide
              which filling to try, so the variety is amazing. This place is now my go-to for a delicious and satisfying
              meal. Highly recommend!
            </p>
          </div>
        </div>
      </div>

      <!-- Testimonial 3 -->
      <div class="carousel-item">
        <div class="container">
          <div class="testimonial-card mx-auto">
            <img src="{% static 'images/test3.jpg'%}"
              alt="Katy Wilson" class="testimonial-img">
            <h4 class="client_name_text">Katy Wilson</h4>
            <p class="customer_text">
              We recently had a family gathering and decided to try your momo catering for the first time. It was a huge
              hit! Everyone loved the different fillings, especially the spicy ones (me!). The momos themselves were
              beautifully steamed and the dipping sauces were delicious. Delivery was on time and everything was
              perfectly presented. Huge thanks for making our event so easy and enjoyable!
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- contact section start -->
<div class="contact_section_2 layout_padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 padding_0" >
            <div class="form-container form-container-1">
               <form method="POST" action="{% url 'index' %}">
                  {% csrf_token %}
                  <h1 style="color: white; font-size: 50px; border-bottom: 3px solid #f76d37;" class="text-center">
                     <b>GET IN TOUCH</b></h1>

                  <div class="form-container">
                     <div class="form">
                        <input required="" placeholder="Name" type="text" class="input" name="name">
                        <input required="" placeholder="Email" type="email" class="input" name="email">
                        <input required="" placeholder="Phone Number" type="tel" class="input" name="phone">
                        <textarea required="" placeholder="Say Hello" rows="10" cols="30" id="message" name="message"
                           class="textarea"></textarea>
                        <div class="button-container">
                           <input type="submit" value="SEND" class="send-button">
                        </div>
                     </div>
                  </div>
               </form>
            </div>

         </div>
         <div class="col-md-6 padding_0">
            <div class="map-responsive">
               <h1 style="color: black; font-size: 50px;" class="text-center"><b>OUR LOCATION</b></h1>


               <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14127.45802872326!2d85.3429805871582!3d27.721469400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1bda4a951f0f%3A0x3ddabb234891c3bd!2sBuddha%20Stupa!5e0!3m2!1sen!2snp!4v1713623524286!5m2!1sen!2snp" 
                   width="600px" height="450px"
                  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.4810592043877!2d85.34317037529938!3d27.671522976203136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190536c1caa7%3A0xf92fcf603dac3960!2sSipalaya%20Info%20Tech%20Pvt.%20Ltd.!5e0!3m2!1sen!2snp!4v1753428666778!5m2!1sen!2snp"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
         </div>
      </div>
   </div>
</div>
<!-- contact section end -->

{% if messages %}
{% for message in messages %}
<script>
   alertify.set('notifier', 'position', 'top-right');
   alertify.success('{{message}}')

   document.addEventListener("DOMContentLoaded", () => {
  const tabs = document.querySelectorAll(".tab-links a");

  tabs.forEach(tab => {
    tab.addEventListener("click", (e) => {
      e.preventDefault(); // prevent full page reload

      // remove active from all
      document.querySelectorAll(".tab-links").forEach(li => li.classList.remove("active"));

      // add active to the clicked one
      e.target.closest(".tab-links").classList.add("active");

      // update the URL (optional)
      history.pushState(null, "", tab.href);

      // TODO: fetch category data with AJAX/fetch and update DOM
    });
  });
});
</script>


{% endfor %}
{% endif %}

{% endblock content %}